body {background-color: #F0F8FF;
      font-family: "lucida grande";}
ul {list-style-type: none;}
header {position: fixed;
      text-size: 30px;
      text-align: center;
      background-color: #9999FF;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 40px;}
section, nav {border: 1px solid black;
      background-color: white;}
section {width: 60%;
      overflow: auto;
      padding: 25px;
      margin-top: 50px;}
nav {float: right;
      width: 12%;
      padding: 25px;
      position: fixed;
      margin-top: 50px;
      margin-left: 10px;}
      
