body {background-color: #F0F8FF;
      font-family: "lucida grande";}
ul {list-style-type: none;}
.contrasttext {color: #A3297A;}
h1 {text-align: center;}
section, aside {border: 1px solid black;
      background-color: white;}
section {float: right;
      overflow: auto;
      padding: 25px;}
aside {float: left;
      padding: 25px;}
