body {background-color: #F0F8FF;
      font-family: "lucida grande";}
ul {list-style-type: none;}
.contrasttext {color: #A3297A;}
h1 {text-align: center;}
a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #000000;}

